//Colors
$highlight: #Afafaf; // Silver
$primary-background: aquamarine; //green
$text-on-dark: #e1e1e1; //mercury
$footer-background: #8B4513; // dark
$text-header: #800020; //maroon

// Resolution
$desktop-width: 1280px;