//Colors
$highlight: #Afafaf; // Silver
$primary-background: aquamarine; //green
$text-on-dark: #e1e1e1; //mercury
$footer-background: #8B4513; // dark

// Resolution
$tablet-width: 768px;
$desktop-width: 1280px;